body{
	background-color:#b0c4de;
	margin:0px;
	padding:0px;
}

.header_bar{
	height:50px;
	width:100%;
	margin:0px;
	padding:0px;
	color:white;
	text-align:center;	

	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#757575', endColorstr = '#000000');
	/*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
	/*Element must have a height (not auto)*/
	/*All filters must be placed together*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#757575', endColorstr = '#000000')";
	/*Element must have a height (not auto)*/
	/*All filters must be placed together*/
	background-image: -moz-linear-gradient(top, #757575, #000000);
	background-image: -ms-linear-gradient(top, #757575, #000000);
	background-image: -o-linear-gradient(top, #757575, #000000);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#757575), to(#000000));
	background-image: -webkit-linear-gradient(top, #757575, #000000);
	background-image: linear-gradient(top, #757575, #000000);
	/*--IE9 DOES NOT SUPPORT CSS3 GRADIENT BACKGROUNDS--*/
}

.title{
	line-height:50px;
}

.namae{
	width:150px;
}

.body{
	width:400px;
}

.submit{
	width:60px;
	
}

.container{
	margin: 0 auto;
	width:720px;
}

div.form{
	margin:0 auto;
	height:40px;
	width:720px;
	margin-top:10px;
	white-space:nowrap;
}

.contents{
	background-color:white;
	min-height:600px;
	width:720px;
	margin 0 auto;
}

